.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f4f6;
}

.login-box {
  background: white;
  padding: 40px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.login-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background-color: #2563eb;
  border: none;
  color: white;
  cursor: pointer;
}