.recommendation-container {
  padding: 40px;
}

.career-card {
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.career-btn {
  background: #16a34a;
  color: white;
  border: none;
  padding: 5px 10px;
}