.register-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f4f6;
}

.register-box {
  background: white;
  padding: 40px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.register-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

.register-box button {
  width: 100%;
  padding: 10px;
  background: #16a34a;
  color: white;
  border: none;
}